################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GOSSIP/.vs/GOSSIP/FileContentIndex/2714e4d9-0e6f-4e6e-8ea2-9214526b3c8a.vsidx
/GOSSIP/.vs/GOSSIP/FileContentIndex/0a09e9c4-0be7-49f4-90d2-c61fdeff13ab.vsidx
*.vsidx
*.wsuo
*.db
*.json
*.exe
*.pdb
*.cache
*.lref
*.BuildWithSkipAnalyzers
*.resources
*.editorconfig
*.dll
*.db-shm
*.suo
*.txt
*.baml
*.db-wal
*.targets
*.props
/.vs/GOSSIP/v17/DocumentLayout.json
/.vs/GOSSIP/v17/.wsuo
/.vs/GOSSIP1/v17/.wsuo
/.gitignore
/.vs/GOSSIP1/v17/.wsuo
/.vs/GOSSIP1/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
*.v2
*.bin
*.g.i.cs
*.g.cs
*.AssemblyInfo.cs
/GOSSIP/GOSSIP/obj/
/GOSSIP/GOSSIP/obj/Debug/net8.0-windows/Views/