################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GOSSIP/.vs/GOSSIP/FileContentIndex/2714e4d9-0e6f-4e6e-8ea2-9214526b3c8a.vsidx
